<% const testimonials = site.data.testimonials %>

<section class="">
	<div class="container mx-auto px-4 py-16">
		<div class="max-w-3xl mx-auto text-center mb-16 home-testimonials-header">
			<h2 class="text-4xl font-bold text-white mb-4 home-testimonials-title">
				<%= testimonials.title %>
			</h2>
			<p class="text-xl text-primary-200 home-testimonials-subtitle"><%= testimonials.subtitle %></p>
		</div>

		<div
			id="testimonial-carousel"
			class="relative"
			data-carousel="slide"
			data-carousel-interval="5000"
			data-carousel-ride="true"
			data-carousel-indicators="true"
		>
			<div
				class="overflow-x-hidden overflow-y-visible relative mx-auto max-w-screen-md h-64 rounded-lg sm:h-60"
			>
				<% testimonials.testimonials.forEach((testimonial, index) => { %>
				<figure
					class="<%= index === 0 ? '' : 'hidden' %> mx-auto w-full max-w-screen-md"
					data-carousel-item
				>
					<blockquote>
						<p class="text-display font-medium text-white">
							"<%= testimonial.content %>"
						</p>
					</blockquote>
					<figcaption class="flex justify-center items-center mt-6 space-x-3">
						<div class="flex items-center divide-x-2 divide-primary-600">
							<div class="pr-3 font-medium text-white">
								<%= testimonial.name %>
							</div>
							<div class="pl-3 text-sm text-primary-300">
								<%= testimonial.source %>
							</div>
						</div>
					</figcaption>
					<div class="flex items-center justify-center mt-4">
						<% for(let i = 0; i < testimonial.rating; i++) { %>
						<svg
							class="w-5 h-5 text-secondary-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 22 20"
						>
							<path
								d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
							/>
						</svg>
						<% } %>
					</div>
				</figure>
				<% }) %>
			</div>
			<div class="flex justify-center items-center">
				<button
					type="button"
					class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none"
					data-carousel-prev
				>
					<span class="text-primary-400 hover:text-primary-300">
						<svg
							class="w-6 h-6"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
								clip-rule="evenodd"
							></path>
						</svg>
						<span class="hidden">Previous</span>
					</span>
				</button>
				<button
					type="button"
					class="flex justify-center items-center h-full cursor-pointer group focus:outline-none"
					data-carousel-next
				>
					<span class="text-primary-400 hover:text-primary-300">
						<svg
							class="w-6 h-6"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
								clip-rule="evenodd"
							></path>
						</svg>
						<span class="hidden">Next</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>
