<nav class="fixed top-0 left-0 w-full pt-36 z-20 bg-primary-600">
    <!--Shows our position on the timeline-->
	<div class="fixed top-32 left-16 w-4 h-4 -translate-x-1/2 bg-primary-200 rounded-full z-[2000]"></div>

    <!--Draggable element-->
    <div class="relative min-w-[max(400rem,200%)] p-0 pt-6 pr-[max(100rem,100%)] h-24 text-primary-300" data-draggable>
        <ul class="flex justify-between">
            <% site.data.awards.awards.forEach(function(award, index) { %>
                <li>
                    <a href="#section_<%= index + 1 %>" class="relative block min-w-8 text-center" data-link>
                        <span><%= award.year %></span>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</nav>

<main>
    <% site.data.awards.awards.forEach(function(award, index) { %>
        <section id="section_<%= index + 1 %>" style="--i: <%= index %>" class="section h-[calc(100vh-240px)] mt-[240px] flex items-center">
            <div class="w-full px-[max(5vw,1rem)] mt-60 transform-style-3d perspective-[900px] md:grid md:grid-cols-7 md:gap-4">
                <div class="text-7xl md:text-8xl text-primary-400 mb-4 row-start-1 col-start-1 col-span-5 self-center relative z-10 flex flex-col items-center">
                   
                    <h2>
                        <span class="block text-[clamp(1rem, 10vmin, 5rem))] text-secondary-500"><%= award.year %></span>
                        <span class="block break-words tracking-tighter"><%= award.title %></span>
                    </h2>
                    <p class="text-4xl md:text-5xl text-primary-500">
                        <%= award.description %>
                    </p>
                    
                </div>
                <div class="row-start-1 col-start-5 col-span-3 relative shadow-md self-center flex items-center justify-center">
                    <img src="<%= award.image %>" alt="<%= award.title %>" class="w-full h-full object-cover rounded-lg">
                </div>
            </div>
        </section>
    <% }); %>
</main>