<%- partial('_partials/page-hero', { title: page.title, description: page.description, heroImage: '/img/hero-pool-2.jpg', heroAlt: page.title }) %>

<section class="bg-primary-700">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="flex flex-wrap gap-2 mb-4">
            <% 
            const blogPosts = site.posts.filter(post => post.source.startsWith('_posts/blog/'));
            const blogTags = new Set();
            blogPosts.forEach(post => {
                if (post.tags && post.tags.length) {
                    post.tags.forEach(tag => blogTags.add(tag.name));
                }
            });
            %>
            <% blogTags.forEach(function(tagName) { %>
                <a href="<%- url_for('/blog-tags/' + tagName) %>" class="bg-blue-100 text-primary-400 text-xs font-medium px-2.5 py-0.5 rounded-sm">
                    <%= tagName %>
                </a>
            <% }); %>
        </div>
        <div class="grid gap-8 mb-16 lg:grid-cols-3">
            <% if (blogPosts.length > 0) { %>
                <% blogPosts.forEach(function(post) { %>
                    <article>
                        <a href="<%- url_for(post.path) %>">
                            <img class="mb-5 rounded-lg" src="<%- url_for(post.path + '/' + post.hero) %>" alt="<%= post.title %>">
                        </a>
                        <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
                            <a href="<%- url_for(post.path) %>" class="text-white"><%= post.title %></a>
                        </h2>
                        <p class="mb-4 font-light text-primary-200"><%= post.excerpt || post.description || 'No description available.' %></p>
                        <a href="<%- url_for(post.path) %>" class="inline-flex items-center font-medium text-secondary-400 hover:underline">
                            Read more
                            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </article>
                <% }); %>
            <% } else { %>
                <div class="col-span-3 text-center text-primary-200">
                    <p>No blog posts available at the moment.</p>
                </div>
            <% } %>
        </div>  
    </div>
</section>